<%- include('header') %>
    <div class="box">
        <h1> Contact </h1>
        <p> To Contact Me :- </p>
        <p> email:- mahan.singh.tomar1034@gmail.com</p>
        <p> phone:- 6387529788</p>
    </div>    
<%- include('footer') %>